@*Header*@
<div class="modal-header">
    <h3 class="modal-title">
        Isto é um teste de PartialView2
    </h3>
</div>


@*Body*@
<div id="" class="modal-body">

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>

</div>


@*Footer*@
<div class="modal-footer">

    <div class="pull-left">
        <a href="#" class="btn btn-danger btn-close">
            Close&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>



</div>
