<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.00.001
    </div>
    <strong>Copyright © 2020 <a href="https://github.com/ruialexrib/Demo.AdminLteWithSyncfusion">Programatica Software</a>.</strong> All rights
    reserved.
</footer>